<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Leagues:</h1>
		<h2>1) Baseball Leagues:</h2>
		<ol>
			{% for league in baseball_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h2>2) Women's Leagues:</h2>
		<ol>
			{% for league in womens_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h2>3) Hockey Leagues:</h2>
		<ol>
			{% for league in hockey_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h2>4) Non-Football Leagues:</h2>
		<ol>
			{% for league in non_football %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h2>5) Conferences:</h2>
		<ol>
			{% for league in conferences %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h2>6) Atlantic Leagues:</h2>
		<ol>
			{% for league in atlantic_leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h2>-- All Leagues --</h2>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<!--  **********    TEAMS    **********  -->
		<h1>Teams:</h1>
		<h2>7) Teams in Dallas</h2>
		<ol>
			{% for team in dallas_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>8) Teams named "Raptors":</h2>
		<ol>
			{% for team in raptors %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>9) "City" Teams:</h2>
		<ol>
			{% for team in city_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>10) "T" Teams:</h2>
		<ol>
			{% for team in t_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>11) Teams Alphabetically By Location:</h2>
		<ol>
			{% for team in location_order %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>12) Teams Reverse-Alphabetically By Team Name:</h2>
		<ol>
			{% for team in rev_name_order %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<!-- OLD -->
		<h2>-- All Teams --</h2>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<!--  **********    PLAYERS    **********  -->
		<h1>Players</h1>
		<h2>13) Players last-named "Cooper":</h2>
		<ol>
			{% for player in coopers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h2>14) Players first-named "Joshua":</h2>
		<ol>
			{% for player in joshuas %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h2>15) Players last-named "Cooper" except those first-named "Joshua":</h2>
		<ol>
			{% for player in coopers_no_josh %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h2>15) Players named "Alexander" or "Wyatt":</h2>
		<ol>
			{% for player in alex_or_wyatt %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

		<!-- OLD -->
		<h2>-- All Players --</h2>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>
