<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Leagues:</h1>
		<h2>1) Teams in Atlantic Soccer Conference:</h2>
		<ol>
			{% for team in asc.teams.all %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>2) Boston Penguins Current Players:</h2>
		<ol>
			{% for player in bos_penguins.curr_players.all %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h2>3) Current Players in the International Collegiate Baseball Conference:</h2>
		<ol>
			{% for team in icbc.teams.all %}
				{% for player in team.curr_players.all %}
					<li>{{player.first_name}} {{player.last_name}}</li>
				{% endfor %}
			{% endfor %}
		</ol>
		<h2>4) Lopezes in American Conference of Amateur Football:</h2>
		<ol>
			{% for team in acaf.teams.all %}
				{% for player in team.curr_players.all %}
					{% if player.last_name == "Lopez" %}
						<li>{{player.first_name}} {{player.last_name}}</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ol>
		<h2>5) All Football Players:</h2>
		<ol>
			{% for league in football_leagues %}
				{% for team in league.teams.all %}
					{% for player in team.curr_players.all %}
						<li>{{player.first_name}} {{player.last_name}}</li>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</ol>
		<h2>6) Teams with a player named "Sophia":</h2>
		<ol>
			{% for team in teams %}
				{% for player in team.curr_players.all %}
					{% if player.first_name == "Sophia" %}
						<li>{{team.location}} {{team.team_name}}: {{player.first_name}} {{player.last_name}}</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ol>
		<h2>6.1) Teams with a player named "Sophia":</h2>
		<h3>(Using select_related)</h3>
		<ol>
			{% for team in teams_with_sophia %}
					<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>7) Leagues with a player named "Sophia":</h2>
		<ol>
			{% for league in leagues %}
				{% for team in league.teams.all %}
					{% for player in team.curr_players.all %}
						{% if player.first_name == "Sophia" %}
							<li>{{league.name}}: {{player.first_name}} {{player.last_name}}</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</ol>
		<h2>7.1) Leagues with a player named "Sophia":</h2>
		<ol>
			{% for league in leagues_with_sophia %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		<h2>8) Floreses not on the Washington Roughriders:</h2>
		<ol>
			{% for flores in floreses_not_roughriders %}
				<li>{{flores.first_name}} {{flores.last_name}}: {{flores.curr_team.location}} {{flores.curr_team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>9) All Teams Sam Evans Has Played For:</h2>
		<ol>
			{% for team in sam_evans_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>10) All-Time Manitoba Tiger-Cats:</h2>
		<ol>
			{% for player in all_time_tigerCats %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h2>11) Past Wichita Vikings:</h2>
		<ol>
			{% for player in past_vikings %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h2>12) Teams Jacob Gray Played for before Current:</h2>
		<ol>
			{% for team in jacobs_old_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		<h2>13) Joshuas Who have played in Atlantic Federation of Amateur Baseball Players:</h2>
		<ol>
			{% for player in joshuas_in_afabp %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		<h2>14) Teams with 12+ Players All-Time:</h2>
		<ol>
			{% for team in twelve_player_teams %}
				<!-- {% if team.num_players >= 12 %} -->
					<li>{{team.location}} {{team.team_name}} ({{team.num_players}})</li>
				<!-- {% endif %} -->
			{% endfor %}
		</ol>
		<h2>15) Players By Number of Teams They've Played For:</h2>
		<ol>
			{% for player in players_by_num_teams %}
					<li>{{player.first_name}} {{player.last_name}} ({{player.num_teams}})</li>
			{% endfor %}
		</ol>

		<!-- OLD -->
		<h2>-- All Leagues --</h2>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<!--  **********    TEAMS    **********  -->
		<h1>Teams:</h1>
		<h2>-- All Teams --</h2>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<!--  **********    PLAYERS    **********  -->
		<h1>Players</h1>
		<!-- OLD -->
		<h2>-- All Players --</h2>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>
